# Ignorar carpetas de dependencias
**/node_modules/
backend/node_modules/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar carpetas de basura que Git está detectando por error
$RECYCLE.BIN/